<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body{
        background:green;
        color:white;
      }
    </style>
  </head>
  <body>
    <h1>It is consuming 3rd party APIs Demo..</h1><hr>
    <h2>Your Geographich information...</h2>
    <h3>Your IP Address:{{ip}}</h3>
    <h3>Your Continent Name:{{continent_name}}</h3>
    <h3>Your Country Name:{{country_name}}</h3>
    <h3>Your Region Name:{{region_name}}</h3>
    <h3>Your City:{{city}}</h3>
    <h3>Your Zip:{{zip}}</h3>
    <h3>Your Latitude:{{latitude}}</h3>
    <h3>Your Longitude:{{longitude}}</h3>

  </body>
</html>
